h1 {
  color: #fa0e49;
  text-align: center;
}
body {
  font-family: helvetica, arial, sans-serif;
}
/* div {
  border: 2px solid black;
} */
img {
  display: block;
}

#page {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 15%;
  left: 0px;
  top: 0px;
  height: 100%;
  padding: 10px;
}
#right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 15%;
  right: 0px;
  top: 0px;
  height: 100%;
  padding: 10px;
}

.container {
  background-color: #eee;
  position: absolute;
  width: 15%;
  top: 0px;
  height: 20%;
  padding: 10px;
}

.plant-holder {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 10%;
  flex-grow: 1;
}
.plant {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* 너비는 자동 조정 */
  height: auto; /* 높이는 자동 조정 */
  object-fit: contain; /* 비율을 유지하며, 이미지가 컨테이너 안에 맞춰짐 */
  z-index: 2;
}

.jar-walls {
  height: 80%;
  width: 60%;
  background: #d1e1df;
  border-radius: 1rem;
  position: absolute;
  bottom: 0.5%;
  left: 20%;
  opacity: 0.5;
  z-index: 1;
}
.jar-top {
  width: 50%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  bottom: 80.5%;
  left: 25%;
  opacity: 0.7;
  z-index: 1;
}
.jar-bottom {
  width: 50%;
  height: 1%;
  background: #d1e1df;
  position: absolute;
  bottom: 0%;
  left: 25%;
  opacity: 0.7;
}
.jar-glossy-long {
  background: #edfdfd;
  width: 2.5%;
  height: 15%;
  left: 2%;
  top: 68%;
  border-radius: 1rem;
  position: absolute;
}
.jar-glossy-short {
  background: #edfdfd;
  width: 2.5%;
  height: 4%;
  left: 2%;
  top: 60%;
  border-radius: 1rem;
  position: absolute;
}
.dirt {
  width: 60%;
  height: 5%;
  background: #3a241d;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  bottom: 1%;
  left: 20%;
  opacity: 0.7;
  z-index: -1;
}
